@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Ribbon
	3.3 - Flex
	3.4 - About Section
	3.5 - Newsletter Section
	3.6 - Instructors Section
	3.7 - Contact Section
	3.8 - Used Col-Widts
	3.9 - Not Used Col-Widts
4.0 - Media
	4.1 - Package Images
	4.2 - Gallery
	4.3 - Social Media Icons
	4.4 - Black Lines
	4.5 - !Important Images
5.0 - Utility
	5.1 - Background Colors
6.0 - Responsive / Media Queries / Small Display
	6.1 - Widths
	6.2 - Padding/Margin
	6.3 - Display
	6.4 - Other
--------------------------------------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
html {
	font-size: 10px;
	font-family: 'Poiret One', cursive; 
}

html, a {
	color: #000;
}

html, .flex [class*='col-'] {
	text-align: center;
} 

#newsletter input, #contact input, textarea, #home nav li, p a {
	font-family: 'Poiret One', cursive;
}

h2, h3, h4, a, #newsletter p, #shape p, h4 + p, input, textarea {
	text-transform: uppercase;
}

p, li, #newsletter h2, h4, footer a, #services a, .blk-line + p::first-letter {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
}

header li, footer li, #contact li, #newsletter p, #home nav ul:after {
	display: inline-block;
}

#packages p, #packages li, #packages h4, footer ul, input, textarea, #contact p, #newsletter h2 {
	text-align: left;
}

#newsletter, input, h4, #packages a, textarea, nav li, #contact a, #newsletter h2 {
	letter-spacing: 5px;
}

#home nav, #newsletter, #services img, #about img, #services a  {
	border-bottom: solid 1px #000; 
}

#newsletter p, #packages a, h2 + p, h1 + p, #services a, #shape p {
	font-size: 1.6rem;
}

h2 + p, h1 + p, #packages section li:first-child, h4 + p {
	margin-top: 0;
}

label, span {
	display: none;
}

#home nav, #newsletter {
	border-top: solid 1px #000;
}

#instructors .wrapper > div:nth-child(2), h2 {
	padding-top: 50px;
}

textarea, h4 + p {
	margin-bottom: 5px;
}

footer a:hover, #home a:hover, .blk-line + p {
	color: #467D96;
}

#contact input, h2, #packages .col-1-2, #packages .col-2-3 {
	margin-bottom: 20px;
}

#shape p, #newsletter h2, h4 {
	font-weight: 500;
}

#newsletter a, #packages a, #contact p a, input, textarea {
	border: solid 1px #000;
}

ul, footer nav li:first-child, footer nav.col-2-3, #newsletter .col-1-4 {
	padding-left: 0;
}

#shape:before, #shape:after, #home nav ul:after {
  content: '';
}

#home nav, [class*='col-'] {
	padding: 10px;
}

#newsletter .col-3-4, .col-1-6, #instructors div, footer .col-1-3, footer .col-1-2 {
	padding: 0;
}

#shape p, h3 {
	margin: 0;
}

#contact form, #newsletter h2 {
	padding-top: 0;
}

/*--------------------
1.1 - Headings
--------------------*/
h1 {
	padding-top: 20px;
}

h2 {
	font-size: 5rem;
	letter-spacing: 20px;
}

#newsletter h2 {
	font-size: 1.4rem;
}

#contact h2 {
	padding-bottom: 30px;
}

h2, h3 {
	font-weight: 100;
}

h3 {
	letter-spacing: 12px;
	padding: 15px 0;
}

#package-five-day h3 {
	font-size: 4rem;
}

h4, h3  {
	font-size: 2rem; 
}

h4, h3, #newsletter h2 {
	margin-bottom: 0;
}

/*--------------------
1.2 - Body Copy
--------------------*/
p {
	line-height: 25px;
}

#home p {
	margin-top: 30px;
}

h4 + p {
	letter-spacing: 2px;
}

.blk-line + p {
	font-size: 1.7rem;
	margin-top: 5px;
}

.blk-line + p::first-letter {
	vertical-align: text-top;
}

b {
	font-weight: 600;
}

#newsletter p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/*--------------------
1.3 - Buttons
--------------------*/
a {
	text-decoration: none;
}

#newsletter a, #contact p a {
	padding: 5px 30px;
}

#packages a {
	padding: 5px 70px;
}

#newsletter a:hover, #packages a:hover, #contact p a:hover {
	background-color: #B4D5F0;
	border: solid 1px #B4D5F0;
}

#services a {
	text-transform: lowercase;
}

#services a:hover {
	color: #5E91AD;
	border-bottom: solid 1px #5E91AD;
}

/*--------------------
1.4 - Form
--------------------*/
#newsletter form {
	margin:  15px 0;
}

#newsletter input {
	width: 35%;
	margin: 0 20px;
}

#newsletter input, #contact input, textarea {
	padding:  6px 0 4px;
	line-height: 2;
	padding-left: 10px;
}

input:focus, textarea:focus {
    outline:none;
}

textarea, #contact input, #home nav ul:after   {
	width: 100%;
}

textarea {
	height: 154px;
	padding-top: 10px;
}

#contact form {
	float: right;
}

@-moz-document url-prefix() { 
	#newsletter form {
		margin: 0;
  }
}


/*--------------------
1.5 - Lists
--------------------*/
#contact li {
	margin-bottom: 30px;
}

#packages li {
	line-height: 18px;
	margin-top: 10px;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
/*--------------------
2.1 - Main Menu
--------------------*/
#home nav ul  {
	text-align: justify;
	padding: 0 150px;
	height: 10px;
}

#home {
	padding: 30px 0;
}

/*--------------------
2.2 - Footer Menu
--------------------*/
footer nav li {
	padding: 0 10px;
}

address {
	font-style: normal;
	text-align: right;
}

footer nav.col-2-3 {
	margin-top: 18px;
}

footer .col-1-2:first-child {
	margin-top: 25px;
}

footer p {
	line-height: 20px;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*--------------------
3.1 - Site Structure
--------------------*/
.wrapper, .nf, #packages header div {
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'], #map {
	float: left;
}

.nf {
	float: none;
}

/*--------------------
3.2 - Ribbon
--------------------*/
#package-five-day {
	position: relative;
	top: 0;
}

#package-five-day, #shape:before {
	left: 0;
}

#shape p {
	line-height: 17px;
}

#shape p, #shape {
	text-align: center;
}

#shape {
	width: 25%;
	height: 50px;
	padding: 25px 0 0; /* modify above */
	top: -5px;
	right: 10px;
	z-index: 2;
}

#shape, #shape:before, #shape:after {
	position: absolute;
}

#shape:before {
  width: 51%;
/* modify below */
  background-color: #FEF3DE;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}

#shape:after, #shape {
	background: #FEF3DE;
}

#shape:after, #shape:before {
	top: 35px;
	z-index: -1;
}

#shape:after {
  right: 0;
	/* modify below */
 -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);

}

/*--------------------
3.3 - Flex
--------------------*/
.flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex; 
}

.flex [class*='col-'] {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1; 
  flex: 1;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex .row, #shape:before, #shape:after {
  height: 100%;
}

/*--------------------
3.4 - About Section
--------------------*/
#about {
	padding-bottom: 60px;
}

/*--------------------
3.5 - Newsletter Section
--------------------*/
#newsletter {
	margin-top: -10px;
}
/*--------------------
3.6 - Instructors Section
--------------------*/
#instructors .row {
  align-items: center;
}

#instructors .wrapper > div:last-child  {
	padding-bottom: 100px;
}

#instructors {
	padding-top: 5px;
}

#instructors .col-1-3 p {
	margin: 0 40px;
}

/*--------------------
3.7 - Contact Section
--------------------*/
#contact {
	padding-bottom: 50px;
}

/*--------------------
3.8 - Used Col-Widths
--------------------*/
.col-3-4, .wrapper {
	width: 75%;
}

.col-6-10, #packages header div {
	width: 60%;
}

.col-1-2, #shape:after {
	width: 50%;
}

.col-1-6 {
	width: 16.66%;
	height: 214px;
}

.col-1-5 {
	width: 20%;
	margin: 10px 0 50px 0;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-2-3 {
	width: 66.66%;
}

.col-4-10 {
	width: 40%;
}

/*--------------------
3.9 - Not Used Col-Widths
--------------------*/
.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-6 {
	width: 83.33%;
}

.col-2-7 {
	width: 28.57%;
}

.col-4-7 {
	width: 57.14%;
}

.col-5-8 {
	width: 62.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-2-9 {
	width: 22.22%;
}

.col-5-9 {
	width: 55.55%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-3-11 {
	width: 27.27%;
}

.col-5-11 {
	width: 45.45%;
}

.col-2-11 {
	width: 18.18%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

img {
	max-width: 100%;
}

#bg-img {
	background-image: url(../img/bg-img.jpg);
	margin-top: 20px;
	padding-bottom: 40px;
}

#map {
	height: 304px;
}

#packages ul {
	list-style-image: url(../img/bullet-point.jpg);
	padding-left: 15px;
}

/*--------------------
4.1 - Package Images
--------------------*/
#package-five-day {
	background: url(../img/package-five-day-surfer.jpg) no-repeat;
}

#package-one-day {
	background: url(../img/package-one-day-surfers-walking.jpg) no-repeat;
}

#package-two-day {
	background: url(../img/package-two-day-beach.jpg) no-repeat;
}

#package-three-day {
	background: url(../img/package-three-day-surfboard.jpg) no-repeat;
}

#package-four-day {
	background: url(../img/package-four-day-waves.jpg) no-repeat;
}

/*--------------------
4.2 - Gallery
--------------------*/
#gallery .col-1-6:first-child {
	background: url(../img/gallery-img-surfers-on-beach.jpg) no-repeat 0 0;
}

#gallery .col-1-6:nth-child(2) {
	background: url(../img/gallery-img-surfboard.jpg) no-repeat 0 0;
}

#gallery .col-1-6:nth-child(3) {
	background: url(../img/gallery-img-beach.jpg) no-repeat 0 0;
}

#gallery .col-1-6:nth-child(4) {
	background: url(../img/gallery-img-surfer.jpg) no-repeat 0 0;
}

#gallery .col-1-6:nth-child(5) {
	background: url(../img/gallery-img-surfers-walking.jpg) no-repeat 0 0;
}

#gallery .col-1-6:last-child {
	background: url(../img/gallery-img-person-in-water.jpg) no-repeat 0 0;
}

/*--------------------
4.3 - Social Media Icons
--------------------*/
#contact li:first-child a {
	background: url(../img/icon-fb.jpg) no-repeat 0 0;
}

#contact li:nth-child(2) a {
	background: url(../img/icon-instagram.jpg) no-repeat 0 0;
}

#contact li a {
	padding: 7px 15px;
}

#contact li a:hover {
	background-position: 0 -30px;
}

/*--------------------
4.4 - Black Lines
--------------------*/
.blk-line, #packages header div {
	background-color: #000;
	height: 1px;
}

.blk-line {
	width: 100%;
}

/*--------------------
4.5 - !Important Images
--------------------*/
#bg-img, #package-five-day, #package-four-day, #package-three-day, #package-two-day, #package-one-day, .col-1-6 {
	-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
	-ms-background-size: cover !important;
    -o-background-size: cover !important;
	background-size: cover !important;
	background-position: center !important;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
/*--------------------
5.1 - Background Colors
--------------------*/
.bg-blue {
	background-color: #E8EDF2;
}

/*--------------------------------------------------------------
6.0 - Responsive / Media Queries (Small Display)
-------------------------------------------------------------- */
/*------------------------------------
6.1 - Widths
-------------------------------------*/
@media screen and (max-width: 768px) {
	.wrapper, #contact > div:first-child, #contact form {
		width: 95%;
		float: none;
		margin: 0 auto;
	}
	
	.col-4-10, .col-6-10, .col-1-2, .col-2-3, .col-1-5, .col-1-3, .col-1-4, .col-3-4, #newsletter input, #contact.wrapper {
		width: 100%;
	}
	
	footer .col-1-2, .col-1-6  {
		width: 50%;
	}
	
/*------------------------------------
6.2 - Padding/Margin
-------------------------------------*/	
	[class*='col-'], #home nav ul, #instructors p  {
	padding: 0;
	}
	
	#home nav {
		padding: 10px 0;
	}
	
	#packages section, #services {
		padding-bottom: 50px;
	}
	
	#contact li a {
		padding-bottom: 25px;
	}
	
	#contact h2, #contact {
		padding-bottom: 0;
	}
	
	#home {
		padding-top: 20px;
	}
	
	footer nav li:last-child {
		padding-right: 0;
	}
	
	footer nav li {
		letter-spacing: 0;
		padding-right: 19px;
	}
	
	#contact li {
		margin: 10px 0;
	}
	
	#instructors .col-1-3 p {
		margin: 0 0 25px;
	}
	
	#newsletter input {
		margin: 0;
	}
	
	#newsletter input {
		margin-top: 5px;
	}
	
	#newsletter input, #newsletter a {
		margin-top: 20px;
	}
	
	h4 {
		margin-top: 0;
	}
	
	.col-1-5 {
		margin-bottom: 0;
	}
	
	.col-4-10 {
		margin-bottom: 20px;
	}
	
/*------------------------------------
6.3 - Display
-------------------------------------*/	
	#instructors img {
		display: none;
	}
	
	.flex, a, #newsletter p {
		display: block;
	}
	
	#services a {
		display: inline-block;
	}
/*------------------------------------
6.4 - Other
-------------------------------------*/		
	#home nav li {
		letter-spacing: 3px;
	}
	
	p a, #newsletter h2 {
		text-align: center;
	}
	
	footer .col-1-2:first-child a {
		text-align: left;
	}
	
	h2 {
		font-size: 3rem;
	}
	
	[id*="package-"] {
		min-height: 300px;
	}
	
	p, #packages li, footer p a {
		font-size: 1.6rem;
	}
	
}
